.wrapper {
    width: 100%;
    overflow-x: hidden;
    .header {
        width: 100%;
        height: 10vh;
        background-color: rgb(28, 116, 210);
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        width: 100%;
        background-color: rgb(200, 227, 255);
        .left {
            width: 100%;
            height: 90vh;
            background-color: burlywood;
        }
        .section {
            width: 100%;
            height: 90vh;
            background-color: cornflowerblue;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .card {
                width: 70%;
                height: 250px;
                margin-left: 15%;
                border: 1px solid rgba(57, 57, 57, 0.892);
                border-radius: 10px;
                background-color: rgb(255, 255, 255);
                margin-top: 10px;
                overflow: hidden;
                padding: 10px;
                &:first-of-type {
                    margin-top: 20px;
                }
                &:last-of-type {
                    margin-bottom: 20px;
                }
                .card__head {
                    display: grid;
                    grid-template-columns: 2fr 10fr 1fr;
                    width: 100%;
                    img {
                        width: 50px;
                        height: 50px;
                        margin-left: 20px;
                    }
                    .user {
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        width: 100%;
                        .name {
                            width: 100%;
                        }
                        .time {
                            width: 100%;
                        }
                    }
                    .more {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                    }
                }
            }
        }
        .right {
            width: 100%;
            height: 90vh;
            background-color: rgb(73, 96, 139);
        }
    }
}