* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Itim', cursive;
}

.wrapper .header {
  width: 100%;
  height: 10vh;
  background-color: #1c74d2;
}

.wrapper .main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  background-color: #c8e3ff;
}

.wrapper .main .left {
  width: 100%;
  height: 90vh;
  background-color: burlywood;
}

.wrapper .main .section {
  width: 100%;
  height: 90vh;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

.wrapper .main .section::-webkit-scrollbar {
  display: none;
}

.wrapper .main .section .card {
  width: 70%;
  margin-left: 15%;
  border: 1px solid rgba(57, 57, 57, 0.892);
  border-radius: 10px;
  background-color: white;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 2px 4px 20px 0px #848c93;
}

.wrapper .main .section .card:first-of-type {
  margin-top: 20px;
}

.wrapper .main .section .card:last-of-type {
  margin-bottom: 20px;
}

.wrapper .main .section .card .card__head {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  width: 100%;
}

.wrapper .main .section .card .card__head img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.wrapper .main .section .card .card__head .user {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.wrapper .main .section .card .card__head .user .name {
  width: 100%;
}

.wrapper .main .section .card .card__head .user .time {
  width: 100%;
  font-size: 12px;
  font-family: bold;
}

.wrapper .main .section .card .card__head .more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper .main .section .card .card__main {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
}

.wrapper .main .section .card .card__main p {
  color: grey;
  font-size: 18px;
  font-family: 'Girassol', cursive;
}

.wrapper .main .section .card .card__main span {
  color: blue;
  font-size: 12px;
  cursor: pointer;
}

.wrapper .main .section .card .card__main .gallery {
  display: inline-block;
  width: 100%;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap {
  width: 100%;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap img {
  display: inline-block;
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px 0px 0px;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap img:nth-child(1) {
  grid-area: i1;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap img:nth-child(2) {
  grid-area: i2;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap img:nth-child(3) {
  grid-area: i3;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap img:nth-child(4) {
  grid-area: i4;
}

.wrapper .main .section .card .card__main .gallery .gallery__wrap img:nth-child(5) {
  grid-area: i5;
}

.wrapper .main .section .card .card__main .gallery .length--1 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1";
}

.wrapper .main .section .card .card__main .gallery .length--2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2" "i1 i1 i1 i2 i2 i2";
}

.wrapper .main .section .card .card__main .gallery .length--3 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i2 i2 i2 i3 i3 i3" "i2 i2 i2 i3 i3 i3" "i2 i2 i2 i3 i3 i3";
}

.wrapper .main .section .card .card__main .gallery .length--4 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i1 i1 i1 i1 i1 i1" "i2 i2 i3 i3 i4 i4" "i2 i2 i3 i3 i4 i4" "i2 i2 i3 i3 i4 i4";
}

.wrapper .main .section .card .controller {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px 0px;
  border-top: 1px solid rgba(128, 128, 128, 0.788);
  border-bottom: 1px solid rgba(128, 128, 128, 0.788);
}

.wrapper .main .section .card .controller span {
  width: 200px;
  text-transform: capitalize;
}

.wrapper .main .section .card .card__footer {
  display: grid;
  grid-template-columns: 1fr 10fr 4fr;
  width: 100%;
  padding: 10px 0px 5px 0px;
}

.wrapper .main .section .card .card__footer img {
  display: inline;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}

.wrapper .main .section .card .card__footer textarea {
  border: 1px solid grey;
  border-radius: 10px;
  resize: none;
  padding: 10px 6px 0px 6px;
  margin: 0px 10px;
}

.wrapper .main .section .card .card__footer .actions {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrapper .main .section .card .card__footer .actions .fa {
  display: grid;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}

.wrapper .main .right {
  width: 100%;
  height: 90vh;
  background-color: #49608b;
}
